{
  "openapi": "3.0.1",
  "info": {
    "title": "AI Automation API",
    "description": "API for triggering and managing AI-powered automations",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://triggers.app.pinkfish.ai"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/ext/triggers/{triggerId}": {
      "post": {
        "summary": "Trigger an automation",
        "description": "Executes an automation using its associated trigger",
        "parameters": [
          {
            "name": "triggerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the trigger"
          },
          {
            "name": "myvar",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional query parameter for the trigger"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "example": {
                "TESTKEY": "TESTVAR"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Automation triggered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Automation triggered successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ext/webhook/{apiKey}/triggers/{triggerId}": {
      "post": {
        "summary": "Trigger an automation via webhook",
        "description": "Executes an automation using a webhook URL with embedded API key. Designed for third-party services that cannot set custom headers.",
        "security": [],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The API key for authentication (embedded in URL)"
          },
          {
            "name": "triggerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the trigger"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "event": "issue_created",
                "issue_id": "12345"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Automation triggered successfully",
            "headers": {
              "X-Pf-Run-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The unique identifier for this automation run"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "message"
        ]
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  }
}